.game-card {
    
    height: 100vh;
    width: 100wv;
    font-family: 'Open Sans', monospace;
}

.column {
    margin-top: 15vh;
 }

.rowTable {
    margin-top: 2vh;
  
}


.questionSpan {
    min-height: 30vh;
    
}