* {
    padding: 0;
    margin: 0;
}

.generatorForm {
    margin-top: 2em;
  
}

.game-card {
    display: flexbox;
    justify-content: center;
}

.column {
    text-align: left;
}



h4 {
    margin-top: 1em;
    font-size: 28px; 
}

h5 {
    margin-top: 1em;
    font-size: 24px; 
}

.btn {
    margin-top: 1em;
}


.card {
    border-width: 2px;
    border-radius: 10px;
  
    border-color:#074050;
   
}

.cardColumn {
    max-width: 40vw;

}

.card-header {
    background-color:#217a79;
    color: white;
    font-size: 20px;
}

.card-body {
    background-color:#e0f5e0;
    color: #074050;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    background-color:#217a79;
   
}

#btnClear, #btnActivate {
    display: inline-block;
    width: 49%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #97e196;
    border: none;
    border-radius: 10px;
 
}
  
  #btnActivate:hover {background-color: #6cc08b}

  #btnClear:hover {background-color: #6cc08b}
  
 #btnActivate:active {
    background-color: #105965;
    transform: translateY(4px);
  }

  #btnClear:active {
    background-color: #105965;
    transform: translateY(4px);
  }

  @media (max-width: 1280px) 
  {

    .cardColumn {
        min-width: 65vw;
    }
                          
    #btnClear, #btnActivate, .card-header {
        font-size: 18px;

    }
    h4 {
        font-size: 24px;

    }

    h5 {
        font-size: 20px;
    }
   }

   @media (max-width: 720px) {

    .cardColumn {
        min-width: 80vw;
    }
    
    #btnClear, #btnActivate, .card-header {
        font-size: 16px;

    }
    h4 {
        font-size: 20px;

    }

    h5 {
        font-size: 18px;
    }
   }

   

   @media (max-width: 540px) 
   {
   
     .cardColumn {
         min-width: 99vw;
    }
    
    #btnClear, #btnActivate, .card-header {
        font-size: 14px;

    }
    h4 {
        font-size: 18px;

    }

    h5 {
        font-size: 16px;
    }
 
    }